<!DOCTYPE html>
<html ng-app="blocJams">

<head>
  <title>BlocJams</title>

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Open+Sans:400,800,600,700,300" %>
  <%= stylesheet_link_tag    "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/buzz/1.1.10/buzz.min.js" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/bean/1.0.15/bean.min.js" %>

  <%= csrf_meta_tags %>
</head>

<body>

    <ui-view></ui-view>

</body>
</html>
